body{
    padding: 20px;
    font-family: sans-serif;
    background-color: #F5F5F5;
    color: #454545;
}
a{
    color: #454545;
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
}
h1{
    display: inline-block;
}
nav{
    display: inline-block;
}